body {
  background-color: #333333; /* Set background color to a light grey */
  color: #333333; /* Set text color to a dark grey */
}

.navbar {
  background-color: #333333; /* Set navbar background color to a dark grey */
  color: #333333; /* Set navbar text color to white */
}

/* CSS Styles for Text Colors */
.c1 {
  color: #e5e4e2;
}

.c2 {
  color: #333333;
}
.b1 {
  background-color: #e5e4e2;
}

.b2 {
  background-color: #333333;
}

#wideCardCarousel.carousel {
  background-color: #333333;
}

#wideCardCarousel .carousel-inner .carousel-item-card {
  background-color: #333333;
}

#wideCardCarousel .carousel-control-prev,
#wideCardCarousel .carousel-control-next {
  filter: invert(100%);
}
